<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>后台管理</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
    <div align="center">
        <h2>后台管理</h2>
        <p>你好，<span th:text="${user.username}"></span>。&nbsp;&nbsp;&nbsp;&nbsp; <a href="/logout">登出</a></p>
        <hr>
        <p>其它的</p>
    </div>
    </body>
</html>
