server:
  port: 50000

spring:
  output:
    ansi:
      enabled: always
  thymeleaf:
    cache: false

logging:
  level:
    run.ikaros.server: DEBUG
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
