ikaros:
  external-url: "http://${server.address:localhost}:${server.port}"
  work-dir: ${user.dir}/

server:
  port: 9999
  compression:
    enabled: true
  error:
    whitelabel:
        enabled: false
spring:
  codec:
    max-in-memory-size: 10MB
  r2dbc:
    url: r2dbc:pool:postgresql://localhost:5432/ikaros
    username: ikaros
    password: openpostgresql
  sql:
    init:
      mode: always
      platform: postgresql

springdoc:
  api-docs:
    enabled: false

logging:
  file:
    name: ./logs/ikaros.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      total-size-cap: 1GB
      max-history: 2
