ikaros:
  external-url: "http://${server.address:localhost}:${server.port}"
  work-dir: ${user.home}/.ikaros
  plugin:
    runtime-mode: deployment
    plugins-root: ${ikaros.work-dir}/plugins

server:
  port: 9999
  compression:
    enabled: true
  error:
    whitelabel:
        enabled: false
spring:
  codec:
    max-in-memory-size: 10MB
  r2dbc:
    url: r2dbc:h2:file:///${ikaros.work-dir}/database/ikaros?MODE=MySQL&DB_CLOSE_ON_EXIT=FALSE
    username: admin
    password: 123456
  sql:
    init:
      mode: always
      platform: h2

springdoc:
  api-docs:
    enabled: false

logging:
  file:
    name: ${ikaros.work-dir}/logs/ikaros.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      total-size-cap: 1GB
      max-history: 2
