<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link href="/static/favicon.ico" rel="icon">
    <!-- Bootstrap CSS -->
    <link href="/static/lib/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Ikaros Subjects</title>
    <style>
        .ik-anime-list {
            margin: 0;
            width: 100%;
        }
        .ik-anime-overview {
            height: 10rem;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div>
        <h2>
            Ikaros Subjects Page
        </h2>
        <hr>

        <p th:if="${subjects.isEmpty()}">暂无数据</p>

        <div class="container">
            <div class="row align-items-start">
                <div th:each="subject: ${subjects}" class="card col-xl-3 col-lg-3 col-md-6 col-sm-12" >
                    <img th:src="${subject.cover}" class="card-img-top" th:alt="${subject.name}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${subject.name}">Subject name</h5>
                        <p class="card-text ik-anime-overview" th:text="${subject.summary}">Subject summary</p>
                        <a th:href="@{/subject/{id}(id=${subject.id})}" class="btn btn-primary">前往条目详情</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--    <script th:inline="javascript">-->
<!--        const animeList = [[${animeList}]]-->
<!--        console.log(animeList)-->
<!--        console.log(animeList.length)-->

<!--    </script>-->
    <script src="/static/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>