<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href="/static/favicon.ico" rel="icon">
    <!-- Bootstrap CSS -->
    <link href="/static/lib/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Ikaros Subject Details Page</title>
</head>
<body>
<div>
    <h2>
        Ikaros Subject Details Page
    </h2>


    <hr>

    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <img th:src="${subject.cover}" width="100%" alt="test">
            </div>
            <div class="col-6">
                <div style="margin-bottom: 1rem;">
                    <h3 th:text="${subject.name}"></h3>
                    <p th:text="${subject.summary}"></p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">剧集切换
                    </button>
                </div>
                <div th:if="${subject.episodes.size() > 0 && subject.episodes.get(0).resources.size() > 0}">
                    <video
                            id="ikEpisodeVideo"
                            th:src="${subject.episodes.get(0).resources.get(0).url}"
                            controls
                            preload="metadata"
                            style="width:100%;"></video>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">剧集切换</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <ul class="pagination">
            <!--                    <li class="page-item disabled">-->
            <!--                        <span class="page-link">上一集</span>-->
            <!--                    </li>-->

            <li class="page-item "
                th:if="${subject.episodes.size() > 0}"
                th:each="episode: ${subject.episodes}">
                <a class="page-link"
                   href="javascript:void(0);"
                   th:text="${episode.sequence}"
                   th:attr="onclick=|changeVideoSrc('${episode.resources.size() > 0 ? episode.resources.get(0).url : ''}')|">
                    -1
                </a>
            </li>
            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link" href="#">下一集</a>-->
            <!--                    </li>-->
        </ul>
    </div>
</div>

<script th:inline="javascript">
    const subject = [[${subject}]]
    console.log('subject:', subject)

    function changeVideoSrc(url) {
        console.log('new video src url:', url)

        if (!url) {
            alert('当前未绑定资源')
            return;
        }

        // // 重载URL
        const video = document.getElementById('ikEpisodeVideo')
        video.pause()
        video.src = url
        video.load()
        video.play()
        // dp.pause()
        // dp.video.src = url
        // dp.video.load()
        // dp.play()
    }
</script>
<script src="/static/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>
</html>