ikaros:
  show-theme: true
  enable-redis: true
  security:
    # 30 day for local dev token expire
    jwt-expiration-time: 18144000000
  indices:
    initializer:
      enabled: false

  plugin:
    runtime-mode: development
    auto-start-plugin: true
    fixed-plugin-path:
    #      - C:\Users\chivehao\GitRepos\ikaros-dev\plugin-bgmtv
    #      - C:\Develop\GitRepos\ikaros-dev\plugins\plugin-pan115

logging:
  level:
    org.springframework.data.r2dbc: INFO
    io.r2dbc: INFO
    run.ikaros.server: DEBUG
    run.ikaros.plugin: DEBUG
    run.ikaros.api: DEBUG
    org.pf4j: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
    org.springframework.r2dbc.core.DefaultDatabaseClient: INFO

spring:
  r2dbc:
    url: r2dbc:pool:postgresql://localhost:5432/ikaros
    username: ikaros
    password: openpostgresql
  data:
    redis:
      host: localhost
      port: 6379
      password:
