<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <p th:if="${loginError}" style="font-weight:bold;color:red;">Wrong username or password</p>
            <form th:action="@{/authUser/login}" method="post">
                <div class="form-row">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" autofocus="autofocus" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </body>
</html>