<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div style="background: #fff;">
    <div  style="width:100%;max-width:720px;text-align: left;margin: 0 auto;padding-top: 20px;padding-bottom: 80px">
        <div style="border-radius: 5px;border:1px solid #eee;overflow: hidden;">
            <h1 style="color:#fff;background: #3798e8;font-size:24px;font-weight:normal;padding-left:40px;margin:0">
                番剧更新: 《<strong th:text="${title}"></strong>》
            </h1>
            <div style="background:#fff;padding:20px 32px 40px;">
                <h2>封面：</h2>
                <img style="border-radius:5px;" th:src="${coverImgUrl}" alt="URL无法访问"></img>
                <h2>剧集更新详情：</h2>
                <span style="color: #6e6e6e;font-size:13px;line-height:24px;">剧集标题：<span th:text="${epTitle}" /></span>
                <br />
                <span style="color: #6e6e6e;font-size:13px;line-height:24px;">剧集序号：<span th:text="${epSeq}" /></span>
                <!--<h2>剧集描述：</h2>-->
                <!--<p th:text="${epIntroduction}"  style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0"></p>-->
                <!-- <p style="color: #6e6e6e;font-size:13px;line-height:24px;">放送进度：<span th:text="${updateEpsCount}"></span>/<span th:text="${allEpsCount}"></span></p>-->
                <h2>番剧简介：</h2>
                <p th:text="${introduction}" style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0">
                </p>
                <!--                <strong>详细：</strong>-->
                <!--                <p style="color: #6e6e6e;font-size:13px;line-height:24px;">您可以点击&nbsp;<a th:href="${infoUrl}">跳转到动漫页面</a></p>-->
            </div>
        </div>
    </div>
</div>
</body>

</html>