<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ikaros app link temp page</title>
</head>
<body>
<div style="background: #fff;">
  <div  style="width:100%;max-width:720px;text-align: left;margin: 0 auto;padding-top: 20px;padding-bottom: 80px">
    <div style="border-radius: 5px;border:1px solid #eee;overflow: hidden;">
      <h1 style="color:#fff;background: #3798e8;font-size:24px;font-weight:normal;padding-left:40px;margin:0">
        番剧: 《<strong th:text="${subjectName}"></strong>》
      </h1>
      <div style="background:#fff;padding:20px 32px 40px;">
        <strong>前往app观看：</strong>
        <p style="color: #6e6e6e;font-size:13px;line-height:24px;">点击&nbsp;<a th:href="${subjectUrl}">跳转到app条目页面</a></p>

        <!-- <p style="color: #6e6e6e;font-size:13px;line-height:24px;">放送进度：<span th:text="${updateEpsCount}"></span>/<span th:text="${allEpsCount}"></span></p>-->
        <h2>番剧简介：</h2>
        <p th:text="${subject.summary}" style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0">
        </p>

        <h2>封面：</h2>
        <div align="center">
          <img style="border-radius:5px;width: 100%;" th:src="${subjectCover}" alt="URL无法访问"></img>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>