version: "3"

services:

  # ikaros database
  ikaros_database:
    image: postgres:latest
    container_name: ikaros_database
    restart: always
    networks:
      ikaros_networks:
    volumes:
      - ${IKAROS_APP_DIR}/database:/var/lib/postgresql/data
    ports:
      - "55432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_DB=ikaros
      - POSTGRES_USER=ikaros
      - POSTGRES_PASSWORD=${IKAROS_DB_PASSWORD}

  # ikaros
  ikaros_server:
    image: ikarosrun/ikaros:${IKAROS_DOCKER_TAG}
    container_name: ikaros_server
    restart: on-failure:3
    depends_on:
      ikaros_database:
        condition: service_healthy
    networks:
      ikaros_networks:
    volumes:
      - ${IKAROS_APP_DIR}:/opt/ikaros
    ports:
      - "50000:50000"
    environment:
      - PUID=0
      - PGID=0
      - LANG=zh_CN.UTF-8
      - LANGUAGE=zh_CN:zh
      - LC_ALL=zh_CN.UTF-8
      - TZ=Asia/Shanghai
      - JAVA_OPTS=-Dikaros.log-level=DEBUG
      - IKAROS_DB_URL=ikaros_database
      - IKAROS_DB_NAME=ikaros
      - IKAROS_DB_USERNAME=ikaros
      - IKAROS_DB_PASSWORD=${IKAROS_DB_PASSWORD}
      - IKAROS_APP_URL_PREFIX=${IKAROS_APP_URL_PREFIX}


  ### optinal ###

  # qbittorrent
  ikaros_qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: ikaros_qbittorrent
    networks:
      ikaros_networks:
    volumes:
      - ${IKAROS_APP_DIR}/tripartite/qbittorrent:/config
      - ${IKAROS_APP_DIR}/downloads:/downloads
      - ${IKAROS_APP_DIR}/media:/media
    ports:
      - "58080:8080"
      - "56881:6881/udp"
      - "56881:6881"
    environment:
      - PUID=0
      - PGID=0
      - TZ=Asia/Shanghai
      - WEBUI_PORT=8080
    restart: always

networks:
  ikaros_networks:
    driver: bridge