version: "3"

services:
  # qbittorrent
  ikaros_qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: ikaros_qbittorrent
    networks:
      ikaros_networks:
    volumes:
      - ${IKAROS_APP_DIR}/tripartite/qbittorrent:/config
      - ${IKAROS_APP_DIR}/downloads:/downloads
      - ${IKAROS_APP_DIR}/media:/media
    ports:
      - 9091:9091
      - 6881:6881/udp
      - 6881:6881
    environment:
      - PUID=0
      - PGID=0
      - TZ=Asia/Shanghai
      - WEBUI_PORT=9091
    restart: always

  # ikaros
  ikaros_server:
    image: liguohaocn/ikaros:dev
    container_name: ikaros_server
    networks:
      ikaros_networks:
    volumes:
      - ${IKAROS_APP_DIR}:/opt/ikaros
    ports:
      - 9090:9090
    environment:
      - PUID=0
      - PGID=0
      - LANG=zh_CN.UTF-8
      - LANGUAGE=zh_CN:zh
      - LC_ALL=zh_CN.UTF-8
      - TZ=Asia/Shanghai
      - JAVA_OPTS=-Dikaros.log-level=DEBUG
    restart: always

networks:
  ikaros_networks: