<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>

<body>
<div style="background: #fff;">
    <div style="width:100%;max-width:720px;text-align: left;margin: 0 auto;padding-top: 20px;padding-bottom: 80px">
        <div style="border-radius: 5px;border:1px solid #eee;overflow: hidden;">
            <h1 style="color:#fff;background: #3798e8;font-size:24px;font-weight:normal;padding-left:40px;margin:0">
                Mail Notify Test | 邮件通知测试
            </h1>
            <div style="background:#fff;padding:20px 32px 40px;">
                <p>这是一封测试邮件，当收到这封邮件时，代表您的邮件配置正常。</p>
                <p>This is a test email, when you receive this email, it means that your email configuration is
                    normal.</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>