# This is a basic workflow to help you get started with Actions

name: Ikaros Server CI

# Controls when the workflow will run
on:
  push:
    branches:
      - master
    paths:
      - "api/**"
      - "config/checkstyle/**"
      - "gradle/wrapper/**"
      - "platform/**"
      - "server/**"
      - "gradle.properties"
      - "lombok.config"
      - "settings.gradle"
  pull_request:
    branches:
      - master
      - release-*
    paths:
      - "api/**"
      - "config/checkstyle/**"
      - "gradle/wrapper/**"
      - "platform/**"
      - "server/**"
      - "gradle.properties"
      - "lombok.config"
      - "settings.gradle"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          cache: 'gradle'
          java-version: 17
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Check code style
        run: ./gradlew check -x test
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          cache: 'gradle'
          java-version: 17
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Run tests
        run: ./gradlew test
      - name: Generate jacoco unit test coverage report xml
        run: ./gradlew jacocoTestReport
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/reports/jacoco/test/jacocoTestReport.xml
